:root {
  font-family: "Protest Riot", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url(/assets/images/1-french-cafe.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Змініть alpha-канал (останнє значення) для затемнення */
  z-index: -1; /* Затемнення повинно бути під зображенням */
}
button{
  box-shadow: none;
}